.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width:max(10%, 80px);
}
.navbar .profile{
    width:40px;
}
.login-conditon{
    cursor: pointer;
   
}
.profile{
    border-radius: 50%;
    border: 1px solid green; 
    box-shadow:0 4px 10px rgba(89, 255, 0, 0.2); 
}
.profile:hover {
    transform: scale(1.1); 
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}
